# Tutorial #1: Prepare data for regression modeling

In this tutorial, you learn how to prep data for regression modeling using the Azure Machine Learning Data Prep SDK. Perform various transformations to filter and combine two different NYC Taxi data sets. The end goal of this tutorial set is to predict the cost of a taxi trip by training a model on data features including pickup hour, day of week, number of passengers, and coordinates. This tutorial is part one of a two-part tutorial series.

In this tutorial, you:


> * Setup a Python environment and import packages
> * Load two datasets with different field names
> * Cleanse data to remove anomalies
> * Transform data using intelligent transforms to create new features
> * Save your dataflow object to use in a regression model

You can prepare your data in Python using the [Azure Machine Learning Data Prep SDK](https://aka.ms/data-prep-sdk).

## Import packages
Begin by importing the SDK.

In [1]:
import azureml.dataprep as dprep

## Load data
Download two different NYC Taxi data sets into dataflow objects. These datasets contain slightly different fields. The method `auto_read_file()` automatically recognizes the input file type.

In [2]:
dataset_root = "https://dprepdata.blob.core.windows.net/demo"

green_path = "/".join([dataset_root, "green-small/*"])
yellow_path = "/".join([dataset_root, "yellow-small/*"])

green_df = dprep.read_csv(path=green_path, header=dprep.PromoteHeadersMode.GROUPED)
# auto_read_file will automatically identify and parse the file type, and is useful if you don't know the file type
yellow_df = dprep.auto_read_file(path=yellow_path)

green_df.head(5)
yellow_df.head(5)

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.6299999999999999,-73.991956999999999,40.721567,,,-73.993803,40.695922000000003,CASH,8.9000000000000004,0.5,,0,0,9.4000000000000004
2,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.5499999999999998,-73.982101999999998,40.736289999999997,,,-73.955849999999998,40.768030000000003,Credit,12.1,0.5,,2,0,14.6
3,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587000000005,40.739747999999999,,,-73.869983000000005,40.770225000000003,Credit,23.699999999999999,0,,4.7400000000000002,0,28.440000000000001
4,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5,-73.974266999999998,40.790954999999997,,,-73.996557999999993,40.731848999999997,CREDIT,14.9,0.5,,3.0499999999999998,0,18.449999999999999

## Cleanse data

Now you populate some variables with shortcut transforms that will apply to all dataflows. The variable `drop_if_all_null` will be used to delete records where all fields are null. The variable `useful_columns` holds an array of column descriptions that are retained in each dataflow.

In [3]:
all_columns = dprep.ColumnSelector(term=".*", use_regex=True)
drop_if_all_null = [all_columns, dprep.ColumnRelationship(dprep.ColumnRelationship.ALL)]
useful_columns = [
    "cost", "distance""distance", "dropoff_datetime", "dropoff_latitude", "dropoff_longitude",
    "passengers", "pickup_datetime", "pickup_latitude", "pickup_longitude", "store_forward", "vendor"
]

You first work with the green taxi data and get it into a valid shape that can be combined with the yellow taxi data. Create a temporary dataflow `tmp_df`, and call the `replace_na()`, `drop_nulls()`, and `keep_columns()` functions using the shortcut transform variables you created. Additionally, rename all the columns in the dataframe to match the names in `useful_columns`.

In [4]:
tmp_df = (green_df
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "VendorID": "vendor",
        "lpep_pickup_datetime": "pickup_datetime",
        "Lpep_dropoff_datetime": "dropoff_datetime",
        "lpep_dropoff_datetime": "dropoff_datetime",
        "Store_and_fwd_flag": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Pickup_longitude": "pickup_longitude",
        "Pickup_latitude": "pickup_latitude",
        "Dropoff_longitude": "dropoff_longitude",
        "Dropoff_latitude": "dropoff_latitude",
        "Passenger_count": "passengers",
        "Fare_amount": "cost",
        "Trip_distance": "distance"
     })
    .keep_columns(columns=useful_columns))
tmp_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,cost
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,0,0,0,0,1,21.25
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,0,0,0,0,2,74.5
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,0,0,0,0,1,1
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,0,0,0,0,1,3.25
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,0,0,0,0,1,8.5

Overwrite the `green_df` variable with the transforms performed on `tmp_df` in the previous step.

In [5]:
green_df = tmp_df

Perform the same transformation steps to the yellow taxi data.

In [6]:
tmp_df = (yellow_df
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "vendor_name": "vendor",
        "VendorID": "vendor",
        "vendor_id": "vendor",
        "Trip_Pickup_DateTime": "pickup_datetime",
        "tpep_pickup_datetime": "pickup_datetime",
        "Trip_Dropoff_DateTime": "dropoff_datetime",
        "tpep_dropoff_datetime": "dropoff_datetime",
        "store_and_forward": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Start_Lon": "pickup_longitude",
        "Start_Lat": "pickup_latitude",
        "End_Lon": "dropoff_longitude",
        "End_Lat": "dropoff_latitude",
        "Passenger_Count": "passengers",
        "passenger_count": "passengers",
        "Fare_Amt": "cost",
        "fare_amount": "cost",
        "Trip_Distance": "distance",
        "trip_distance": "distance"
    })
    .keep_columns(columns=useful_columns))
tmp_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,passengers,pickup_longitude,pickup_latitude,store_forward,dropoff_longitude,dropoff_latitude,cost
0,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,-73.991956999999999,40.721567,None,-73.993803,40.695922000000003,8.9000000000000004
1,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,-73.982101999999998,40.736289999999997,None,-73.955849999999998,40.768030000000003,12.1
2,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,-74.002587000000005,40.739747999999999,None,-73.869983000000005,40.770225000000003,23.699999999999999
3,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,-73.974266999999998,40.790954999999997,None,-73.996557999999993,40.731848999999997,14.9
4,DDS,2009-01-24 16:18:23,2009-01-24 16:24:56,1,-74.001580000000004,40.719382000000003,None,-74.008377999999993,40.720350000000003,3.7000000000000002

Again, overwrite `yellow_df` with `tmp_df`, and then call the `append_rows()` function on the green taxi data to append the yellow taxi data, creating a new combined dataframe.

In [7]:
yellow_df = tmp_df
combined_df = green_df.append_rows([yellow_df])

### Convert types and filter

Examine the pickup and drop-off coordinates summary statistics to see how the data is distributed. First define a `TypeConverter` object to change the lat/long fields to decimal type. Next, call the `keep_columns()` function to restrict output to only the lat/long fields, and then call `get_profile()`.

In [8]:
decimal_type = dprep.TypeConverter(data_type=dprep.FieldType.DECIMAL)
combined_df = combined_df.set_column_types(type_conversions={
    "pickup_longitude": decimal_type,
    "pickup_latitude": decimal_type,
    "dropoff_longitude": decimal_type,
    "dropoff_latitude": decimal_type
})
combined_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude", 
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -88.1140462776958
           1%: -73.96184046123078
           5%: -73.96196409651695
          25%: -73.94769300154304
          50%: -73.92209687520713
          75%: -73.84666992515079
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.83357924322624
    std: 18.792671842677194
    variance: 353.1645149865522
    skewness: 3.3699704814278384
    kurtosis: 9.475822408116898

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 40.91912078857422
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 40.68288894849967
           5%: 40.67554111480711
          25%: 40.721075431323555
          50%: 40.756158628852226
          75%: 40.80390908468158
          95%: 40.849406187839264
          99%: 40.87068071395632
        99.9%: 40.89124402664647

    mean: 37.93674176307772
    std: 10.345967255309299
    variance: 107.03903844793221
    skewness: -3.3910335057674446
    kurtosis: 9.507614952893944

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -87.69961085752014
           1%: -73.98473387307982
           5%: -73.98577710430992
          25%: -73.95625030004503
          50%: -73.92894826081373
          75%: -73.866208351984
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.89697757926986
    std: 18.696525543314273
    variance: 349.5600673918031
    skewness: 3.393537469556304
    kurtosis: 9.637674744553701

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 41.008934020996094
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 40.662762631425636
           5%: 40.6548512816144
          25%: 40.71782113005021
          50%: 40.75653428947139
          75%: 40.784687939420145
          95%: 40.8524372604658
          99%: 40.87928928908481
        99.9%: 40.93729065146813

    mean: 37.963773902752784
    std: 10.290780181747312
    variance: 105.90015674904323
    skewness: -3.414918339085695
    kurtosis: 9.670385703344062

From the summary statistics output, you see that there are coordinates that are missing, and coordinates that are not in New York City. Filter out coordinates not in the city border by chaining column filter commands within the `filter()` function, and defining minimum and maximum bounds for each field. Then call `get_profile()` again to verify the transformation.

In [9]:
tmp_df = (combined_df
    .drop_nulls(
        columns=["pickup_longitude", "pickup_latitude", "dropoff_longitude", "dropoff_latitude"],
        column_relationship=dprep.ColumnRelationship(dprep.ColumnRelationship.ANY)
    ) 
    .filter(dprep.f_and(
        dprep.col("pickup_longitude") <= -73.72,
        dprep.col("pickup_longitude") >= -74.09,
        dprep.col("pickup_latitude") <= 40.88,
        dprep.col("pickup_latitude") >= 40.53,
        dprep.col("dropoff_longitude") <= -73.72,
        dprep.col("dropoff_longitude") >= -74.09,
        dprep.col("dropoff_latitude") <= 40.88,
        dprep.col("dropoff_latitude") >= 40.53
    )))
tmp_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude", 
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

Overwrite `combined_df` with the transformations you made to `tmp_df`.

In [10]:
combined_df = tmp_df

### Split and rename columns

Look at the data profile for the `store_forward` column.

In [11]:
combined_df.keep_columns(columns='store_forward').get_profile()

ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7059.0
    missing_count: 99.0
    not_missing_count: 6960.0
    percent_missing: 0.014024649383765405
    error_count: 0.0
    empty_count: 0.0

From the data profile output of `store_forward`, you see that the data is inconsistent and there are missing/null values. Replace these values using the `replace()` and `fill_nulls()` functions, and in both cases change to the string "N".

In [12]:
combined_df = combined_df.replace(columns="store_forward", find="0", replace_with="N").fill_nulls("store_forward", "N")

Split the pick up and drop off datetimes into respective date and time columns. Use `split_column_by_example()` to perform the split. In this case, the optional `example` parameter of `split_column_by_example()` is omitted. Therefore the function will automatically determine where to split based on the data.

In [13]:
tmp_df = (combined_df
    .split_column_by_example(source_column="pickup_datetime")
    .split_column_by_example(source_column="dropoff_datetime"))
tmp_df.head(5)

,vendor,pickup_datetime,pickup_datetime_1,pickup_datetime_2,dropoff_datetime,dropoff_datetime_1,dropoff_datetime_2,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,3.3

Rename the columns generated by `split_column_by_example()` into meaningful names.

In [14]:
tmp_df_renamed = (tmp_df
    .rename_columns(column_pairs={
        "pickup_datetime_1": "pickup_date",
        "pickup_datetime_2": "pickup_time",
        "dropoff_datetime_1": "dropoff_date",
        "dropoff_datetime_2": "dropoff_time"
    }))
tmp_df_renamed.head(5)

,vendor,pickup_datetime,pickup_date,pickup_time,dropoff_datetime,dropoff_date,dropoff_time,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,3.3

Overwrite `combined_df` with the executed transformations, and then call `get_profile()` to see full summary statistics after all transformations.

In [15]:
combined_df = tmp_df_renamed
combined_df.get_profile()

ColumnProfile
    name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_datetime
    type: FieldType.STRING

    min: 2009-01-01 20:52:58
    max: 2013-08-31 23:59:14
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-08-31
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_time
    type: FieldType.STRING

    min: 00:00:48
    max: 23:59:48
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_datetime
    type: FieldType.STRING

    min: 2009-01-01 21:14:00
    max: 2013-09-01 00:25:07
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-09-01
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_time
    type: FieldType.STRING

    min: 00:00:00
    max: 23:59:45
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

ColumnProfile
    name: passengers
    type: FieldType.STRING

    min: 1
    max: 6
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: cost
    type: FieldType.STRING

    min: 0
    max: 90
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0

## Transform data

Split the pickup and drop-off date further into day of week, day of month, and month. To get day of week, use the `derive_column_by_example()` function. This function takes as a parameter an array of example objects that define the input data, and the desired output. The function then automatically determines your desired transformation. For pickup and drop-off time columns, split into hour, minute, and second using the `split_column_by_example()` function with no example parameter.

Once you have generated these new features, delete the original fields in favor of the newly generated features using `drop_columns()`. Rename all remaining fields to accurate descriptions.

In [16]:
tmp_df = (combined_df
    .derive_column_by_example(
        source_columns="pickup_date", 
        new_column_name="pickup_weekday", 
        example_data=[("2009-01-04", "Sunday"), ("2013-08-22", "Thursday")]
    )
    .derive_column_by_example(
        source_columns="dropoff_date",
        new_column_name="dropoff_weekday",
        example_data=[("2013-08-22", "Thursday"), ("2013-11-03", "Sunday")]
    )
          
    .split_column_by_example(source_column="pickup_time")
    .split_column_by_example(source_column="dropoff_time")
    # the following two split_column_by_example calls reference the generated column names from the above two calls
    .split_column_by_example(source_column="pickup_time_1")
    .split_column_by_example(source_column="dropoff_time_1")
    .drop_columns(columns=[
        "pickup_date", "pickup_time", "dropoff_date", "dropoff_time", 
        "pickup_date_1", "dropoff_date_1", "pickup_time_1", "dropoff_time_1"
    ])
          
    .rename_columns(column_pairs={
        "pickup_date_2": "pickup_month",
        "pickup_date_3": "pickup_monthday",
        "pickup_time_1_1": "pickup_hour",
        "pickup_time_1_2": "pickup_minute",
        "pickup_time_2": "pickup_second",
        "dropoff_date_2": "dropoff_month",
        "dropoff_date_3": "dropoff_monthday",
        "dropoff_time_1_1": "dropoff_hour",
        "dropoff_time_1_2": "dropoff_minute",
        "dropoff_time_2": "dropoff_second"
    }))

tmp_df.head(5)

,vendor,pickup_datetime,pickup_weekday,pickup_hour,pickup_minute,pickup_second,dropoff_datetime,dropoff_weekday,dropoff_hour,dropoff_minute,dropoff_second,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,cost
0,2,2013-08-01 17:22:00,Thursday,17,22,00,2013-08-01 17:22:00,Thursday,17,22,00,N,-73.937767,40.758480,-73.937767,40.758480,1,2.5
1,2,2013-08-01 17:24:00,Thursday,17,24,00,2013-08-01 17:25:00,Thursday,17,25,00,N,-73.937927,40.757843,-73.937927,40.757843,1,2.5
2,2,2013-08-06 06:51:19,Tuesday,06,51,19,2013-08-06 06:51:36,Tuesday,06,51,36,N,-73.937721,40.758404,-73.937721,40.758369,1,3.3
3,2,2013-08-06 13:26:34,Tuesday,13,26,34,2013-08-06 13:26:57,Tuesday,13,26,57,N,-73.937691,40.758419,-73.937790,40.758358,1,3.3
4,2,2013-08-06 13:27:53,Tuesday,13,27,53,2013-08-06 13:28:08,Tuesday,13,28,08,N,-73.937805,40.758396,-73.937775,40.758450,1,3.3

From the data above, you see that the pickup and drop-off date and time components produced from the derived transformations are correct. Drop the `pickup_datetime` and `dropoff_datetime` columns as they are no longer needed.

In [17]:
tmp_df = tmp_df.drop_columns(columns=["pickup_datetime", "dropoff_datetime"])

Use the type inference functionality to automatically check the data type of each field, and display the inference results.

In [18]:
type_infer = tmp_df.builders.set_column_types()
type_infer.learn()
type_infer

Column types conversion candidates:
'pickup_hour': [FieldType.DECIMAL],
'pickup_minute': [FieldType.DECIMAL],
'pickup_second': [FieldType.DECIMAL],
'dropoff_weekday': [FieldType.STRING],
'pickup_longitude': [FieldType.DECIMAL],
'pickup_latitude': [FieldType.DECIMAL],
'dropoff_longitude': [FieldType.DECIMAL],
'dropoff_latitude': [FieldType.DECIMAL],
'passengers': [FieldType.DECIMAL],
'cost': [FieldType.DECIMAL],
'vendor': [FieldType.STRING],
'pickup_weekday': [FieldType.STRING],
'dropoff_hour': [FieldType.DECIMAL],
'dropoff_minute': [FieldType.DECIMAL],
'dropoff_second': [FieldType.DECIMAL],
'store_forward': [FieldType.BOOLEAN]

The inference results look correct based on the data, now apply the type conversions to the dataflow.

In [19]:
tmp_df = type_infer.to_dataflow()
tmp_df.get_profile()

ColumnProfile
    name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.5752283522104507
           5%: 3.0
          25%: 9.911063829787235
          50%: 15.932650462962965
          75%: 19.0
          95%: 22.02253132832079
          99%: 23.0
        99.9%: 23.0

    mean: 14.232610851395394
    std: 6.3492619547979405
    variance: 40.313127370644565
    skewness: -0.6933346236330169
    kurtosis: -0.45933637654018833

ColumnProfile
    name: pickup_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.32313238004232
           5%: 4.923076923076923
          25%: 14.22138158887246
          50%: 29.524351150387936
          75%: 44.643550881534175
          95%: 56.37669894736841
          99%: 58.97980158730159
        99.9%: 59.0

    mean: 29.463521745289782
    std: 17.43961511160089
    variance: 304.1401752407781
    skewness: 0.004403235186436642
    kurtosis: -1.2045825872291442

ColumnProfile
    name: pickup_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 4.992863568215893
           5%: 4.919540229885057
          25%: 14.612145838603592
          50%: 29.923913056037986
          75%: 44.52206918340458
          95%: 56.67923258774323
          99%: 59.0
        99.9%: 59.0

    mean: 29.62246777163907
    std: 17.386831494248195
    variance: 302.30190940938087
    skewness: -0.022746584878602084
    kurtosis: -1.194086022369568

ColumnProfile
    name: dropoff_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.232172208560535
           5%: 2.933333333333334
          25%: 9.923335054207538
          50%: 15.913497390007455
          75%: 19.0
          95%: 22.2738821600947
          99%: 23.0
        99.9%: 23.0

    mean: 14.181470463238407
    std: 6.455775577121015
    variance: 41.67703830215217
    skewness: -0.6910013185430696
    kurtosis: -0.5002151925128597

ColumnProfile
    name: dropoff_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.106397306397308
           5%: 5.0
          25%: 14.205104167893442
          50%: 29.078992484013884
          75%: 44.29369134145639
          95%: 56.633802040253634
          99%: 58.99841716968478
        99.9%: 59.0

    mean: 29.353024507720626
    std: 17.424053976460392
    variance: 303.59765697460523
    skewness: 0.014256204213822449
    kurtosis: -1.2153056342997897

ColumnProfile
    name: dropoff_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.033732868052396
           5%: 5.0
          25%: 14.747134909031837
          50%: 29.597996746090672
          75%: 45.321600541894085
          95%: 56.1043978748524
          99%: 58.97276759884281
        99.9%: 59.0

    mean: 29.79232185862021
    std: 17.481000267086447
    variance: 305.58537033787644
    skewness: -0.028131321936678208
    kurtosis: -1.2196460943795095

ColumnProfile
    name: store_forward
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

ColumnProfile
    name: passengers
    type: FieldType.DECIMAL

    min: 1.0
    max: 6.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 5.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 2.3297917552061156
    std: 1.7997766302118896
    variance: 3.239195918656865
    skewness: 0.8340985645144754
    kurtosis: -1.1111097095315299

ColumnProfile
    name: cost
    type: FieldType.DECIMAL

    min: 0.0
    max: 444.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.0180822649572656
           5%: 3.0125
          25%: 5.915451150004527
          50%: 9.490553841275261
          75%: 16.581562244062244
          95%: 33.56382066951073
          99%: 51.992409200968524
        99.9%: 81.13681176470527

    mean: 12.911225386032
    std: 11.64471948001604
    variance: 135.599491768265
    skewness: 8.684200777604197
    kurtosis: 269.81754443324434

At this point, you have a fully transformed and prepared dataflow object to use in a machine learning model. The DataPrep SDK includes object serialization functionality, which is used as follows.

In [20]:
dflow_prepared = tmp_df
package = dprep.Package([dflow_prepared])
package.save(".\dflows")

Package
  name: None
  path: C:\Users\seretkow\notebooks\Labs Azure ML service\dflows
  dataflows: [
    Dataflow {
      name: dataflow
      steps: 26
    },
  ]

## Clean up resources

Delete the file `dflows` (whether you are running locally or in Azure Notebooks) in your current directory if you do not wish to continue with part two of the tutorial. If you continue on to part two, you will need the `dflows` file in the current directory.

## Next steps

In this Azure Machine Learning Data Prep SDK tutorial, you:

> * Set up your development environment
> * Loaded and cleansed data sets
> * Used smart transforms to predict your logic based on an example
> * Merged and packaged datasets for machine learning training

You are ready to use this training data in the next part of the tutorial series:


> [Tutorial #2: Train regression model](regression-part2-automated-ml.ipynb)